@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Gobal Content */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(8%);
    transition: opacity 1s ease;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1e202d;
}

body.solid-background::before {
    opacity: 0;
}

body.solid-background {
    background-color: #1e202d;
}

.info-me {
    opacity: 1;
    transition: opacity 1s ease;
}

body.solid-background .info-me {
    opacity: 0;
}

img {
    max-width: 1000px;
    z-index: 2;
}





/* Header and Navbar Content */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index: 1000;
}

header.abajo {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.671);
    padding: 10px 20px;
}

.menu_nav {
    justify-content: space-around;
}

.header nav ul li {
    position: relative;
    float: left;
    display: block;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.header a {
    color: #97c7ff;
    text-shadow:
        0 0 5px rgba(173, 206, 255, 0.8),
        0 0 10px rgba(103, 163, 253, 0.6),
        0 0 15px rgba(81, 139, 247, 0.4),
        0 0 20px rgba(48, 120, 255, 0.4);
    animation: neon-logo 1.5s infinite alternate;
}

.navmenu:hover {
    color: #FFF;
}

.header li:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.logo {
    font-weight: 800;
    font-size: 25px;
    text-shadow:
        0 0 5px rgba(173, 206, 255, 0.8),
        0 0 10px rgba(103, 163, 253, 0.6),
        0 0 15px rgba(81, 139, 247, 0.4),
        0 0 20px rgba(48, 120, 255, 0.4);
    color: #97c7ff;
    animation: neon-logo 1.5s infinite alternate;
}

.navmenu.zoom {
    transform: scale(1.2);
}

.navmenu.no-zoom {
    transform: scale(1);
}

/* Logo-Border Animation */

@keyframes neon-logo {
    0% {
        text-shadow:
            0 0 5px rgba(173, 206, 255, 0.8),
            0 0 10px rgba(103, 163, 253, 0.6),
            0 0 15px rgba(81, 139, 247, 0.4),
            0 0 20px rgba(48, 120, 255, 0.4);
    }

    50% {
        text-shadow:
            0 0 10px rgba(173, 206, 255, 0.8),
            0 0 20px rgba(103, 163, 253, 0.6),
            0 0 30px rgba(81, 139, 247, 0.4),
            0 0 40px rgba(48, 120, 255, 0.4);
    }

    100% {
        text-shadow:
            0 0 5px rgba(173, 206, 255, 0.8),
            0 0 10px rgba(103, 163, 253, 0.6),
            0 0 15px rgba(81, 139, 247, 0.4),
            0 0 20px rgba(48, 120, 255, 0.4);
    }
}





/* Estilos del menú flotante */

.menu-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s;
    box-shadow: 0 0 10px rgba(26, 80, 161, 0.8),
    0 0 20px rgba(103, 163, 253, 0.6),
    0 0 30px rgba(101, 155, 255, 0.4);
    background-color: #97c7ff;
    border-radius: 100px;
    animation: neon-img 1.5s infinite alternate;
}

.menu-icon {
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.menu-icon .bar1,
.menu-icon .bar2,
.menu-icon .bar3 {
    width: 50%;
    height: 5px;
    background-color: #333;
    margin: 5px 10px;
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(26, 80, 161, 0.8),
    0 0 20px rgba(103, 163, 253, 0.6),
    0 0 30px rgba(101, 155, 255, 0.4);
    border-radius: 10px;
}

.menu-icon.open .bar1 {
    transform: rotate(-50deg) translate(-7px, 7px);
}

.menu-icon.open .bar2 {
    opacity: 0;
}

.menu-icon.open .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

.menu {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 200px;
    background-color: #000000cb;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.5s, transform 0.6s, visibility 0.6s;
}

.menu.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: background 0.3s;
    text-shadow:
        0 0 5px rgba(222, 228, 236, 0.8),
        0 0 10px rgba(185, 196, 212, 0.6),
        0 0 15px rgba(204, 216, 238, 0.4),
        0 0 20px rgba(231, 237, 248, 0.4);
    animation: neon-tittles 1.5s infinite alternate;
    font-weight: 700;
}

.menu a:hover {
    background-color: #575757;
    border-radius: 15px;
    color: #97c7ff;
}





/* Mouse Fount Neon */

.light {
    position: fixed;
    width: 950px;
    height: 950px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(14, 47, 90, 0.781) 0%, rgba(0, 0, 0, 0) 70%);
    pointer-events: none;
    mix-blend-mode: screen;
    transition: transform 0.1s ease-out;
    z-index: 1;
    pointer-events: none;
}





/* Info Content */

.info-me {
    flex: 1;
    display: flex;
    padding: 20px 20px;
    position: relative;
    margin-top: 100px;
    text-align: left;
}

.info-me h1 {
    font-size: 50px;
    font-weight: 800;
}

.info-me h2 {
    font-weight: 800;
    margin-top: -15px;
    color: #262838;
}

.info-me h1 {
    text-shadow:
        0 0 5px rgba(222, 228, 236, 0.8),
        0 0 10px rgba(185, 196, 212, 0.6),
        0 0 15px rgba(204, 216, 238, 0.4),
        0 0 20px rgba(231, 237, 248, 0.4);
    color: #262838;
    animation: neon-tittles 1.5s infinite alternate;
}

@keyframes neon-tittles {
    0% {
        text-shadow:
            0 0 5px rgba(173, 206, 255, 0.8),
            0 0 10px rgba(103, 163, 253, 0.6),
            0 0 15px rgba(81, 139, 247, 0.4),
            0 0 20px rgba(48, 120, 255, 0.4);
    }

    50% {
        text-shadow:
            0 0 10px rgba(173, 206, 255, 0.8),
            0 0 20px rgba(103, 163, 253, 0.6),
            0 0 30px rgba(81, 139, 247, 0.4),
            0 0 40px rgba(48, 120, 255, 0.4);
    }

    100% {
        text-shadow:
            0 0 5px rgba(173, 206, 255, 0.8),
            0 0 10px rgba(103, 163, 253, 0.6),
            0 0 15px rgba(81, 139, 247, 0.4),
            0 0 20px rgba(48, 120, 255, 0.4);
    }
}

.info-me p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    animation: neon-tittles 1.5s infinite alternate;
}

.info-me img {
    margin-top: -10px;
    margin-left: 60px;
    width: 450px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(26, 80, 161, 0.8),
        0 0 20px rgba(103, 163, 253, 0.6),
        0 0 30px rgba(101, 155, 255, 0.4);
    animation: neon-img 1.5s infinite alternate;
    z-index: 1;
}

.border-neon {
    animation: moveInXShape 8s ease-in-out infinite;
}

/* Img Animation */

@keyframes neon-img {
    0% {
        box-shadow: 0 0 10px rgba(95, 148, 228, 0.8),
            0 0 20px rgba(103, 163, 253, 0.6),
            0 0 40px rgba(101, 155, 255, 0.4);
    }

    50% {
        box-shadow: 0 0 20px rgba(146, 190, 255, 0.8),
            0 0 40px rgba(42, 122, 168, 0.6),
            0 0 70px rgba(46, 119, 255, 0.4);
    }

    100% {
        box-shadow: 0 0 10px rgba(158, 202, 252, 0.8),
            0 0 20px rgba(117, 199, 247, 0.6),
            0 0 40px rgba(136, 178, 255, 0.4);
    }
}

@keyframes moveInXShape {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(20px, 20px);
    }

    50% {
        transform: translate(0, 30px);
    }

    75% {
        transform: translate(20px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.info {
    padding: 30px 30px;
    margin-left: 30px;
    display: block;
    justify-content: space-around;
    width: 700px;
    margin-top: 50px;
    text-shadow:
        0 0 5px rgba(173, 206, 255, 0.8),
        0 0 10px rgba(103, 163, 253, 0.6),
        0 0 15px rgba(81, 139, 247, 0.4),
        0 0 20px rgba(48, 120, 255, 0.4);
    color: #ffffff;
}

.info span {
    color: #97c7ff;
}

#zoomButton {
    padding: 10px 30px;
    margin-top: 25px;
    cursor: pointer;
    background: fixed;
    border-color: rgba(103, 163, 253, 0.6);
    color: #FFF;
    box-shadow: 0 0 5px rgba(26, 80, 161, 0.8),
        0 0 10px rgba(103, 163, 253, 0.6),
        0 0 15px rgba(101, 155, 255, 0.4);
    text-shadow:
        0 0 5px rgba(173, 206, 255, 0.8),
        0 0 10px rgba(103, 163, 253, 0.6),
        0 0 15px rgba(81, 139, 247, 0.4),
        0 0 20px rgba(48, 120, 255, 0.4);
    animation: neon-btn 2s infinite alternate;
    transition: transform 0.3s ease, background-color 0.3s ease-out;
    border-radius: 5px;
    font-weight: 600;
}

#zoomButton:hover {
    background-color: rgba(40, 115, 255, 0.534);
    color: #000000;
    text-shadow:
        0 0 5px rgba(173, 206, 255, 0.8),
        0 0 10px rgba(103, 163, 253, 0.6),
        0 0 15px rgba(81, 139, 247, 0.4),
        0 0 20px rgba(48, 120, 255, 0.4);
    transform: scale(1.1);
    transition: all .5s;
}

#zoomButton.zoom {
    transform: scale(1.09);
}

#zoomButton.no-zoom {
    transform: scale(1);
}

/* Button Animation */

@keyframes neon-btn {
    0% {
        box-shadow: 0 0 5px rgba(95, 148, 228, 0.8),
            0 0 10px rgba(103, 163, 253, 0.6),
            0 0 15px rgba(101, 155, 255, 0.4);
    }

    50% {
        box-shadow: 0 0 10px rgba(146, 190, 255, 0.8),
            0 0 20px rgba(42, 122, 168, 0.6),
            0 0 30px rgba(46, 119, 255, 0.4);
    }

    100% {
        box-shadow: 0 0 5px rgba(158, 202, 252, 0.8),
            0 0 10px rgba(117, 199, 247, 0.6),
            0 0 15px rgba(136, 178, 255, 0.4);
    }
}





/* AboutMe Section */

.aboutMe {
    display: flex;
    padding: 220px 100px;
}

.aboutMeInfo {
    float: right;
    margin-left: 200px;
    margin-top: 150px;
}

.aboutMeInfo h1 {
    padding: 30px 30px;
    font-size: 60px;
    font-weight: 800;
    white-space: nowrap;
    margin-left: -80px;
}

.aboutMeInfo h2 {
    font-size: 15px;
    text-align: right;
    margin-top: -45px;
    margin-right: 30px;
    color: #bbbbbb;
}

.aboutMeInfo p {
    float: right;
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    animation: neon-tittles 1.5s infinite alternate;
    color: #ffffff;
    margin-right: 30px;
}

.aboutMeInfo span {
    color: #97c7ff;
}

.aboutMeInfo h1,
h2 {
    text-shadow:
        0 0 5px rgba(222, 228, 236, 0.8),
        0 0 10px rgba(185, 196, 212, 0.6),
        0 0 15px rgba(204, 216, 238, 0.4),
        0 0 20px rgba(231, 237, 248, 0.4);
    color: #262838;
    animation: neon-tittles 1.5s infinite alternate;
}

.aboutmeimg img {
    margin-top: 120px;
    margin-left: -40px;
    float: left;
    width: 450px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(26, 80, 161, 0.8),
        0 0 20px rgba(103, 163, 253, 0.6),
        0 0 30px rgba(101, 155, 255, 0.4);
    z-index: 1;
    animation: neon-img 1.5s infinite alternate
}

.aboutmeimg {
    animation: moveInXShape 8s ease-in-out infinite;
}





















































































/* Portafolio Content */

.portafolio {
    background: #181922;
}

.carousel-container {
    width: 1000px;
    height: 800px;
    perspective: 1000px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.carousel-item {
    position: absolute;
    width: 250px;
    height: 300px;
    background-color: #414141;
    backdrop-filter: blur(20px);
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(26, 80, 161, 0.8),
        0 0 20px rgba(103, 163, 253, 0.6),
        0 0 30px rgba(101, 155, 255, 0.4);
    animation: neon-img 1.5s infinite alternate;
    animation: neon-img 1.5s infinite alternate, slideDown 1s ease;
}

.carousel-item img {
    width: 250px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carousel-item h1 {
    font-size: 15px;
    margin-top: -130px;
    margin-left: -60px;
}

.carousel-item p {
    margin-top: -130px;
    font-size: 10px;
}

.carousel-item.active {
    transform: scale(1.2) translateZ(100px);
    opacity: 1;
    z-index: 2;
}

.carousel-item.left {
    transform: translateX(-350px) scale(0.8) translateZ(0px);
}

.carousel-item.right {
    transform: translateX(350px) scale(0.8) translateZ(0px);
} 





.carrusel-info {
    background: #97c7ff;
    width: 800;
    height: 215px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.carrusel-info h1 {
    font-size: 20px;
    text-justify: left;
    margin-left: 1px;
}

.carrusel-info p {
    line-height: 1.5;
    text-align: left;
    margin-bottom: 15px;
}

.carrusel-info button {
    margin-left: -110px;
    margin-bottom: 500px;
}




/* Animación, entrada desde arriba */

@keyframes slideDown {
    0% {
        transform: translateY(-100vh); 
        opacity: 0; 
    }
    100% {
        transform: translateY(0); 
        opacity: 1; 
    }
}


















































































